apiVersion: v1
kind: Service
metadata:
  name: {{ include "my-elasticsearch.fullname" . }}
  namespace: monitoring
  labels:
    app: {{ include "my-elasticsearch.name" . }}
spec:
  clusterIP: None
  ports:
    - name: http
      port: 9200
      targetPort: 9200
    - name: transport
      port: 9300
      targetPort: 9300
  selector:
    app: {{ include "my-elasticsearch.name" . }}
